

$pageTop: 60mm
$fontMargins: 11pt "Playfair Display"



// PDF page layouts
@page
	size: 5.5in 8.5in portrait
	margin: 3cm 1.9cm 2.54cm
	margin-inside: 2.54cm

@page :left
	@top
		content: "The Casebook of the Aletheian Society"
		font: $fontMargins
		text-transform: uppercase
		padding-top: 1.27cm

	@bottom-left
		font: $fontMargins
		content: counter(page)

@page :right
	@top
		content: string(title)
		font: $fontMargins
		text-transform: uppercase
		padding-top: 1.27cm

	@bottom-right
		font: $fontMargins
		content: counter(page)

@page :blank
	@top
		content: normal

@page front-matter
	@top
		content: normal

	@bottom-left
		content: normal

	@bottom-right
		content: normal


//$chapters: "6", "10", "20", "44", "68", "84", "110", "136", "170"
//
//@each $chapter in $chapters
//	@page :nth(#{$chapter})
//		@top
//			content: normal
//

// general styles
body
	font: 12pt/1.15 "Times New Roman"
	text-align: left
	color: black

img
	max-width: 100%

h1.uppercase
	font: 30pt "Playfair Display"
	text-transform: uppercase
	text-align: center
	margin-bottom: 2em

h2
	font-weight: normal
	font-size: 12pt
	font-family: "Playfair Display"
	text-align: center

h4
	//break-before: page
	margin-bottom: 0.5em
	text-decoration: underline

h5
	margin-bottom: 0.5em
	font-size: 12pt
	font-weight: normal


header
	padding-top: $pageTop
	break-after: page

	h1
		string-set: title content()
		padding: 0
		font-size: 30pt
		font-family: "Great Vibes"
		font-weight: normal
		text-align: center

article
	margin-top: $pageTop

	p
		margin: 0
		text-indent: 0.63cm
		widows: 2
		orphans: 2

	p:first-of-type, h3+p
		text-indent: 0

		&:first-letter
			font-size: 24pt

	blockquote
		font-style: italic
		break-after: avoid
		margin-bottom: 0.5em

		&:first-child
			margin-left: 0

		p:first-letter
			font-size: 12pt !important

		&+p:first-letter
			font-size: 24pt

	h3
		font-size: 12pt
		font-family: "Playfair Display"
		font-weight: normal
		text-align: center
		margin-bottom: 2em
		margin-top: $pageTop
		break-before: page

figcaption
	font-style: italic
	text-indent: -0.5em
	text-align: center

	&:before
		font-size: 16pt
		content: "“"

	&:after
		font-size: 16pt
		content: "”"

aside
	break-inside: avoid

hr
	border: 0
	font-family: "Font Awesome 5 Free"

	&:after
		content: "\f06d"
		display: block
		text-align: center
		padding: 1em
		break-before: avoid-page

ul
	margin: 0.5em 0 1em
	padding: 0 0 0 1.5em
	list-style-type: none

	li
		break-inside: avoid
		position: relative
		margin-bottom: 0.2em

		&:before
			font-size: 10pt
			content: "\00BB"
			position: absolute
			left: -1em


.underline
	text-decoration: underline

.centered
	text-align: center
	break-inside: avoid

.shadow-factories
	font: 18pt "Great Vibes"

.we-evolve
	font: 10pt "Comfortaa"


// page layouts
article
	page: article

div.front-matter, header, figure
	page: front-matter
	break-after: page

div.story
	page: story
	break-before: right

.back-matter
	break-before: left

// page specific styles
#title-page, #blurb
	text-align: center

	h1
		font: 24pt "Great Vibes"
		margin-bottom: 9em

		span
			display: block
			font: 22pt "Playfair Display"
			text-transform: uppercase

#title-page p
	margin: 6em 2em 1em
	font: 10pt "Playfair Display"

	&:last-child
		margin-top: 0.5em
		font-size: 14pt

#blurb
	h1
		margin-bottom: 0.5em

	h2
		text-transform: uppercase
		margin-bottom: 2em

	p
		text-align: center
		font-size: 14pt


#copyright p
	text-align: center

	&:first-child
		margin-top: 4em

#toc
	break-before: right
	prince-pdf-tag-type: TOC

	ol
		list-style-type: none
		margin: 0
		padding: 0
		page-break-inside: auto

	li
		margin: 0
		padding: 0.3em 0

		&.foreword, &.the-tale-of-petherham-hall
			margin-bottom: 2em

	a
		text-decoration: none
		color: black
		font: 12pt "Playfair Display"

	a:after
		content: leader(" .") " " target-counter(attr(href, url), page)


#foreword
	header
		padding-top: 0
		page: article
		break-after: avoid

		h1
			font-family: "Playfair Display"
			text-transform: uppercase

	article
		margin-top: 0

	span
		font: 18pt "Great Vibes"
		display: block
		padding: 1em 0

	p:last-of-type
		text-indent: 0
		font-size: 11pt

#escape-room
	blockquote
		margin-left: 0
		margin-top: 2em
		margin-bottom: 0

		&:not(:first-of-type)+p:first-letter
			font-size: 12pt


#red-skin p:last-child
	text-align: center
